body {
  background: url("https://lh6.googleusercontent.com/-QJpkqSpKh40/U0T8L_4mm6I/AAAAAAAADtU/-unXQBY-80w/s264/backg.png") repeat scroll 0 0 #FFFFFF;
  font: 14px Droid Arabic Kufi;
}
a {color:#D40147; transition: all 0.8s ease 0s; text-decoration: none;}
a:hover {color:#000;}
#container {
  background:url("https://lh4.googleusercontent.com/-Ew3L-QppnYA/UpG3ICju_PI/AAAAAAAACDw/HZf-NzBxFNs/s145/bg2.png") repeat scroll 0 0 #F1F1F1;
  border: 1px solid #bbb;
  margin: 10px auto;
  width: 975px;
}
/*******TOP Menu********/
#top-hsec {
  background:#F2F2F2;
  border-bottom: 1px solid #ddd;
  height: 30px;
  width: 100%;
}
.topmenu {
  float: right;
  margin: -13px -30px 0 0;
  width: auto;
}

.topmenu li {
  float: right;
  list-style:none;
  margin-left: 10px;
}
#topmenu a {
  color: #777;
  font-size: 12px;
  text-decoration: none;
}
#topmenu a:hover {color: #D40147;}
#topmenu .selected a {
  background:#000000;
  border-radius: 5px;
  color: #FFFFFF;
  padding: 0 4px;
}

#search {
  float: left;
}
#search-text {
  background:#ddd;
  border: 0 none;
  border-right:1px solid #bbb;
  color: #777;
  height: 31px;
  margin-left: -5px;
  padding: 0 3px;
  width: 40px;
  transition: all 1s ease 0s;
  font: 13px droid arabic kufi;
  }
#search-text:focus {
  width: 120px;
}
#search-submit {
  background: url("https://lh5.googleusercontent.com/-wsF9cYszyII/U0behU0VFoI/AAAAAAAADuo/5z8jjHI-dQo/s20/searchw.png") no-repeat scroll center center #D40147;
  border: 0 none;
  height: 30px;
  color: rgba(0, 0, 0, 0);
  transition: all 0.8s ease 0s;
  width: 30px;
}
#search-submit:hover {
  background: url("https://lh5.googleusercontent.com/-wsF9cYszyII/U0behU0VFoI/AAAAAAAADuo/5z8jjHI-dQo/s20/searchw.png") no-repeat scroll center center #000000;
  cursor: pointer;
}
/*******Header*******/
#header-wrapper {width:100%;}
#header-wrapper {
  background: none repeat scroll 0 0 #F9F9F9;
  height: 110px;
  width: 100%;
}
.header {
  float: right;
  height: 100px;
  width: 240px;
}
#header-inner {
  margin: -20px 5px 0 0;
  text-align: center;
}
#header-inner img {margin-top: 25px;}
.descriptionwrapper {
  color: #777777;
  margin-top: -14px;
}
.header2 {
  float: left;
  height: 90px;
  margin: 10px 0 0 5px;
  width: 728px;
}
/*******Bottom Menu*******/
#bottom-hsec {
  background:#000000;
  border-bottom: 4px solid #D40147;
  height: 40px;
}
#bottom-hsec .fa.fa-home:hover {color: #D40147 !important;}
.bottme {float: right;}
#cnmudrdown{
  width:100%;
  height:40px;
  display:block;
  padding:0;
  margin:0 0 22px 0;
}
#cnmudmenu,#drop{
    list-style:none;
    direction:rtl;
    padding:0;
    margin:0;
    }
#cnmudmenu li {
    float:right;
}
#cnmudmenu li a {
    display:block;
    padding:7px 16px 0 0;
    color:#fff;
    text-decoration:none;
    font-weight:bold;
}
#cnmudmenu li a:hover {
    color:#D40147;
    transition:all .7s ease 0s;
}
#drop {
    position:absolute;
    display:none;
    list-style:none;
z-index:60;
}
#drop li {
    float:none;
}
#drop li a {
background:#000;
border-bottom:1px solid #bbb;
padding:5px 10px;
width:150px;
}
   
#sub:hover #drop {
    display:block;
}
#drop2:hover #cnmudmenu3 {
    display:block;
}
#cnmudmenu3 {
    position:absolute;
    display:none;
    margin-right:131px;
    margin-top:-28px;
    }
#cnmudmenu3 li{
    list-style:none;
    margin-left:100px;
}
#cnmudmenu3 li a {
width:150px;
}

#cnmu-random:hover:after {
  display: inline;
  position: relative;
  background:rgba(0, 0, 0, 0.7);
  border-radius: 5px;
  color: #fff;
  float: left;
  font-size: 10px;
  margin: -30px -30px;
  padding: 5px 10px;
  z-index: 98;
}
#cnmu-random a {
  background: url("https://lh4.googleusercontent.com/-HbyTigSQbDg/UwFg7F9KVQI/AAAAAAAADVI/jqwsEJ0joyM/s40/shuffle2.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
  border-right: 1px solid #ccc;
  float: left;
  height: 40px;
  width: 40px;
}
#cnmu-random a:hover {
  background:url("https://lh4.googleusercontent.com/-HbyTigSQbDg/UwFg7F9KVQI/AAAAAAAADVI/jqwsEJ0joyM/s40/shuffle2.png") no-repeat scroll 0 0 #D40147;
  border-right: 1px solid #D40147;
}

/*******Outer*******/
#outer-wrapper {padding:8px 8px 50px;}
#main-wrapper {
  float: right;
  width: 640px;
}
.sliderwis {float: right;width: 550px;}

.vide {float: left; width:400px;}

.myved {
  background: url("https://lh6.googleusercontent.com/-nqdEpcG8w-M/U0Z1oERfQlI/AAAAAAAADuU/nrNREI4G9T4/s400/computer-laptopv.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
  height: 322px;
  padding-top: 20px;
  text-align: center;
  width: 400px;
}

/*******Slider1*******/
body#layout #featured {display: none;}
#featured {
  height: 200px;
  margin-bottom: 10px;
  margin-top: -10px;
  position: relative;
}
.sliderwrapper{
position: relative;
border-bottom-width: 6px;
height: 124px;
}
.sliderwrapper .contentdiv{
background: #fff;
box-shadow: 0 1px 2px #999;-moz-box-shadow: 0 1px 2px #999;-webkit-box-shadow: 0 1px 2px #999;
margin-top: 10px;
opacity: 1;
position: absolute;
visibility: hidden;
border: 1px solid #D40147;
width: 638px;
}

.pagination {
  float: left;
  margin-right: 579px;
  margin-top: 43px;
  position: absolute;
  text-align: center;
  width: 70px;
  z-index: 100;
}
.pagination a {
  background: #D40147;
  color: #FFFFFF;
  font: bold 13px Arial;
  margin-right: 1px;
  padding: 4px 8px;
}
.pagination a.selected{
color:#fff;
background:#D40147;
}
.featuredPost{
width:330px;
padding:0px 10px 10px 10px !important;
bottom:0;
float:left !important;
}
.pagination .prev, .pagination .next{float:right;}
.toc {display: none;}
.featuredPost a{
color:#D40147;
font: 14px droid arabic kufi;
margin:0;
padding:0;
}
.featuredPost a:hover{color:#000;}
.featuredPost h2{margin:6px 0 3px 0; line-height: 1em;}
.featuredPost span {
  background: url("https://lh6.googleusercontent.com/-SSZLBwEMVew/U0bgZ_fsl6I/AAAAAAAADvA/Rup-KDIyLyw/s184/techico.png") no-repeat scroll 96% -56px rgba(0, 0, 0, 0);
  color: #777;
  display: inline-block;
  font: bold 12px arial;
  padding-right: 23px;
}
.featuredPost p{font: 14px/1.5em tahoma; margin:0; color:#797979;}
.sliderPostPhoto a img{float: right !important;width:280px; height:179px; border-left: 1px solid #D40147;}
.sliderPostPhoto a img:hover {opacity: 0.8;}
.sliderPostPhoto {float: right !important;}

/*******Slider2*******/
#mcis {
 display: none;
}

#sliderFrame {
  background:#222222;
  margin: 2px auto 20px;
  padding: 20px 20px 28px;
  position: relative;
  width: 510px;
}
#slider img {
 position: absolute;
 border: none;
display: none;
}

#slider {
 width: 510px;
 height: 262px;
 background: #fff url(https://lh6.googleusercontent.com/-TghMlE2NjrY/U0ZhaCofIVI/AAAAAAAADuE/Y3WD45mnRDU/s32/preview.gif) no-repeat 50% 50%;
 position: relative;
 margin: 0 auto;
 box-shadow: 0 0 1px #999999;
}

#slider a.imgLink {
 z-index: 2;
 display: none;
 position: absolute;
 top: 0px;
 left: 0px;
 border: 0;
 padding: 0;
 margin: 0;
 width: 100%;
 height: 100%;
}

div.mc-caption-bg, div.mc-caption-bg2 {
 position: absolute;
 width: 100%;
 height: auto;
 padding: 0;
 left: 0px;
 bottom: 0px;
 z-index: 3;
 overflow: hidden;
 font-size: 0;
}

div.mc-caption-bg {
 background-color: black;
}

div.mc-caption {
  background: url("https://lh5.googleusercontent.com/-lafTQRfuog0/U0EsxD_XSMI/AAAAAAAADr4/16mJJ7Ssx_0/s28/backslide.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
  color: #EEEEEE;
  font: bold 15px/30px droid arabic kufi;
  padding: 10px 0;
  text-align: center;
  z-index: 4;
}

div.mc-caption a {
 color: #FB0;
}

div.mc-caption a:hover {
 color: #DA0;
}

div.navBulletsWrapper {
 top:262px;
background: none;
 position: relative;
 z-index: 5;
 cursor: pointer;
}
div.navBulletsWrapper div{
background:#CCCCCC;
cursor: pointer;
float: right;
height: 9px;
margin-left: 1px;
overflow: hidden;
vertical-align: middle;
width: 84px;
}


div.navBulletsWrapper div.active {
 background:#D40147;
}

#slider {
 transform: translate3d(0,0,0);
 -ms-transform: translate3d(0,0,0);
 -moz-transform: translate3d(0,0,0);
 -o-transform: translate3d(0,0,0);
 -webkit-transform: translate3d(0,0,0);
}

.main {
  background:#fff;
  border: 1px solid #bbb;
  box-shadow: 0 3px 2px #777;
  padding: 0 8px;
}
/*******Post*******/
.post-outer {
  background: url("https://lh5.googleusercontent.com/-MyZgqeTAfEI/U0VKK_e0gRI/AAAAAAAADtw/nYWdojdgu4I/s700/postshadow.png") repeat-x scroll 0 bottom rgba(0, 0, 0, 0);
  padding-bottom: 20px;
}
.post-title.entry-title,.post-title.entry-title a,.post-labels a {color:#777;}
.post-title.entry-title a:hover,.post-labels a:hover {color:#D40147;}

.post blockquote {
overflow:auto;
max-height:250px;
background:#222;
color:#fff;
border-left:20px solid #D40147;
border-radius:20px;
margin:10px;
padding:10px;
text-align: left !important;
}
.post blockquote a {color: #F8D300;}
.post h2 {
background: #222;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    padding:4px;
    border-right:5px solid #D40147;
    border-left:5px solid #D40147;
border-radius:4px;
box-shadow: 0 1px 3px #999;
}

.post h4 {
    background: url("https://lh6.googleusercontent.com/-cI_uj9QiJdM/UPHMj9S18WI/AAAAAAAAAF0/8PYiikitO6s/s16/sah-icon.png") no-repeat scroll right center transparent;
    color: #000;
    font-size: 14px;
    font-weight: bold;
    padding-right:25px;
    text-shadow: 0 2px 2px #000;
    text-align: right !important;
}
#post-i {
  background:#F2F2F2;
  border-bottom: 1px solid #DDDDDD;
  border-top: 1px solid #DDDDDD;
  margin: -8px -8px 8px;
  padding: 0 10px 0 0;
  width:628px;
}
.comment-bubble {
  background: url("https://lh6.googleusercontent.com/-SSZLBwEMVew/U0bgZ_fsl6I/AAAAAAAADvA/Rup-KDIyLyw/s184/techico.png") no-repeat scroll center -110px #D40147;
  color: #FFFFFF;
  float: left;
  font: bold 14px arial;
  padding: 18px 0 2px;
  text-align: center;
  width: 40px;
}
.post-labels {
  background: url("https://lh6.googleusercontent.com/-SSZLBwEMVew/U0bgZ_fsl6I/AAAAAAAADvA/Rup-KDIyLyw/s184/techico.png") no-repeat scroll 100% -161px rgba(0, 0, 0, 0);
  float: right;
  margin: 3px 0 0 9px;
  padding-right: 20px;
  font-size:0;
}
.post-labels a {
  background:#D40147;
  border-radius: 5px;
  color: #fff;
  display: inline-block;
  font: bold 12px droid arabic kufi;
  padding: 0 8px 1px;
  margin: 3px 2px;
}
.post-labels a:hover {background:#000; color:#fff;}

#share-b {
  float: right;
  width: 132px;
}
.fot-more {margin-top: 8px;}
.post-author {
  background: url("https://lh6.googleusercontent.com/-SSZLBwEMVew/U0bgZ_fsl6I/AAAAAAAADvA/Rup-KDIyLyw/s184/techico.png") no-repeat scroll 96% 4px #F1F1F1;
  float: right;
  padding: 0 20px 0 4px;
}
.post-timestamp {
  background: url("https://lh6.googleusercontent.com/-SSZLBwEMVew/U0bgZ_fsl6I/AAAAAAAADvA/Rup-KDIyLyw/s184/techico.png") no-repeat scroll 96% -51px #E3E2E2;
  padding: 0 22px 0 0;
}
.more-l {
  background:#D40147;
  color: #fff;
  display: inline-block;
  padding: 0 5px;
}
/*Cnmu.blogspot.com-pager*/
.cnmu-pager {
  font: bold 14px droid arabic kufi;
  float: right;
  margin-bottom: 20px;
  padding: 0;
  width: 100%;
}
.cnmu-pager li {
  float: right;
  list-style: none outside none;
  text-align: center;
  transition: all 0.7s ease 0s;
  width: 33%;
}
.cnmu-pager li:hover {
  background:#D40147;
}
.cnmu-pager li a {
  border: 1px solid #BBBBBB;
  color: #777777;
  display: block;
  height: 50px;
  padding: 5px 0;
  position: relative;
  text-decoration: none;
  width: 100%;
}
.cnmu-pager li a:hover {
  color:#fff;
  background:#D40147;
}
.cnmu-pager li.next {
  width:50%;
  border-right:0 !important;
}
.cnmu-pager li.next a{border-left: 0 none !important;}
.cnmu-pager li.previous {
  width:50%;
}
.cnmu-pager strong {
  color: #ccc;
  display: block;
  font-size: 20px;
  margin-bottom: 8px;
}
.cnmu-pager span {
  display: block;
  font: 14px droid arabic kufi;
  height: 56px;
  overflow: hidden;
}

.cnmu-pager li.next i,.cnmu-pager li.previous i{
  color: #CCCCCC;
  font-size: 30px;
  margin:17px 5px 0 ;
  }
.cnmu-pager li.next i {float: right;}
.cnmu-pager li.previous i {float: left;}
.fa-chevron-right:before {content:&quot;\2039&quot;;}
.fa-chevron-left:before {content: &quot;\203A&quot;;}

/*******Sidebar*******/
#sidebar-wrapper {
  float: left;
  width: 310px;
}
#sidebar h2 {
  border-bottom: 1px dashed #bbb;
  color: #777;
  font-size: 18px;
  margin: 0 0 10px;
  text-align: center;
}
#sidebar .widget {
  background:#fff;
  border-top: 3px solid #D40147;
  text-align: center;
  box-shadow: 0 2px 2px 0 #777;
  margin-bottom:20px;
}
.popular-posts li {
  list-style:none;
  margin:-7px -30px -5px 5px;
  text-align: right;
}
.PopularPosts .item-thumbnail {
  background:#D40147;
  border-radius: 0 8px 8px 0;
  float: right;
  margin: 0 0 0 8px;
  padding: 8px 8px 0;
}
.item-thumbnail img {
  background:#F1F1F1;
  border: 2px solid #777;
  border-radius: 50%;
  height: 58px;
  padding: 0;
  transition: all 1.5s ease 0s;
  width: 60px;
}
.item-thumbnail img:hover {transform: rotate(1440deg); -webkit-transform: rotate(1440deg);}
.PopularPosts .item-title {
  background:#ddd;
  border-radius: 8px 0 0 8px;
  height: 76px;
  margin: 0 5px;
  padding-bottom: 0.2em;
}
.popular-posts .item-title a {color: #222;}
.popular-posts .item-title a:hover {color: #D40147;}
/*******Footer*******/
#footer-wrapper {
  background:#000;
  border-top: 4px solid #D40147;
  padding: 5px;
  color:#ddd;
}
.fow1, .fow2, .fow3 {
  float: right;
  margin: 0 10px 10px 10px;
  width: 300px;
}
#footer-wrapper h2 {
  border-bottom: 1px dashed #777;
  color: #bbb;
  font: bold 16px droid arabic kufi;
  margin: 0 0 5px;
  padding-bottom: 3px;
}
.LinkList li {
  color: #bbb;
  float: right;
  list-style: square outside none;
  margin-bottom: 10px;
  width: 50%;
}
.LinkList a {
  color: #bbb;
  display: inline-block;
}
.LinkList a:hover {color:#fff;}
.label-size a {
  border: 1px solid #ddd;
  border-radius: 8px;
  color: #ddd;
  display: inline-block;
  float: right;
  font-size: 13px;
  margin: 3px;
  padding: 4px 12px;
  transition: all 0.3s ease 0s;
}
.label-size a:hover {
  background:#fff;
  border: 1px solid #fff;
  color: #000;
  transform: rotate(-4deg);
  -webkit-transform: rotate(-4deg);
}
.label-size-1 {
  opacity: 1 !important;
}
#credit {
  background:#5A5A5A;
  color: #D5D4D4;
  padding: 2px 5px 4px;
}
#credit a {color:#fff;}
#credit a:hover {color:#D40147;}
#cnmubc a,.cnmubca a {
  background:#D40147;
  border-radius: 8px;
  box-shadow: 0 0 1px #222;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  padding: 0 5px;
}
#cnmubc a:hover,.cnmubca a:hover {background:#000; color:#fff;}

/* -- number page navigation -- */
.showpageArea {
color:#fff;
margin: 10px 5px 3px 5px;
padding: 0px;
float: right;
display: inline;
font-size:13px;
}
.showpageArea a {
background: #D40147;
padding: 4px 7px;
margin: 0px 5px 0px 0px;
text-decoration: none;
color:#fff;
display: inline;
float: right;
border-radius:4px;
}
.showpageNum {float:right; margin-bottom: 5px;}
.showpageNum a {
font-size:13px;
font-weight: bold;
background: #D40147;
padding: 4px 7px;
margin: 0px 5px 0px 0px;
text-decoration: none;
color:#fff;
display: inline;
float: right;
border-radius:4px;
}
.showpageNum a:hover {
background: #DAD8D9;
text-decoration: none;
border-radius:4px;
color:#777;
}
.showpagePoint {
font-size:13px;
font-weight: bold;
background: #4A4A4A;
padding: 4px 7px;
margin: 0px 5px 0px 0px;
text-decoration: none;
color: #FFFFFF;
display: inline;
float: right;
border-radius:4px;
}
.showpageOf {
font-weight: bold;
background: #D40147;
padding: 3px 7px;
margin: 0px 5px 0px 0px;
text-decoration: none;
color:#fff;
display: inline;
float: right;
border-radius:4px;
}
.showpage a {
background: #D40147;
padding: 4px 7px;
margin: 0px 5px 0px 0px;
text-decoration: none;
color:#fff;
display: inline;
float: right;
border-radius:4px
}
.showpage a:hover {
background: #DAD8D9;
text-decoration: none;
border-radius:4px;
color:#777;
} 

/*******Mobile*******/
.mobile #featured,.mobile .header2 {display: none;}
.mobile #container,.mobile #main-wrapper {width: 100%;}
.mobile #outer-wrapper,.mobile .topmenu {margin:0;}
.mobile .blog-pager-older-link,.mobile .blog-pager-newer-link {
  background: none repeat scroll 0 0 #D40147;
  color: #FFFFFF;
  font: bold 20px arial;
  padding: 5px 8px;
}
/*=====================================
=start bitly widget
=====================================*/
#shorturl {
float: right;
box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15), 0 0 10px -3px rgba(0, 0, 0, 0.5);
float: right;
background: #364581;
padding-top: 10px;
width: 100%;
color: #FFF;
}
#shorternh2 {
float: right;
padding-left: 20px;
padding-right: 10px;
font-family: 'Droid Arabic Kufi', Voces;
margin-top: 8px;
font-size: 1.1em;
text-align: center;
}
.textinpo {
float: right;
font-family: 'Droid Arabic Kufi', Voces;
color: #E2E2E2 !important;
border: 2px solid #232F5D !important;
background: #232F5D !important;
direction: ltr;
height: 30px !important;
text-align: center;
}
input[readonly].textinpo {
cursor: text !important;
}
.fa.fa-link {
vertical-align: sub;
margin-left: 15px;
font-size: 1.2em;
}
#shoternUrl {
margin: 20px 0 20px 0;
}
@media screen and (min-width: 500px) {
#shorternh2 { width: 40%; }
.textinpo { width: 40%; }
}
@media screen and (max-width: 500px) {
#shorternh2 { width: 90%; }
.textinpo { width: 90%; margin-top:8px; margin-right: 2.5%; }
}
/*=====================================
= end bitly widget
=====================================*/
/*******Comments*******/
#comments {
  background: url("https://lh5.googleusercontent.com/-MyZgqeTAfEI/U0VKK_e0gRI/AAAAAAAADt0/xNDEMS0ORUk/s700/postshadow.png") repeat-x scroll 0 0 #FFFFFF;
  padding-top: 10px;
  margin-top:30px;
}
#comments h4 {
  color: #D40147;
  font: bold 17px droid arabic kufi;
}
.comments{clear:both;margin-top:10px;margin-bottom:0;font-family:Arial;line-height:18px;font-size:13px}
.comments .comments-content{margin-bottom:16px;font-weight:normal;text-align:right}
.comments .comment .comment-actions a,.comments .comment .continue a{display:inline-block;margin:0 5px 5px 0;padding:0 8px;color:#fff !important;text-align:center;text-decoration:none;background:#01ADDB;box-shadow: 0 0 1px #222;border-radius:2px;line-height:28px;font: bold 10px droid arabic kufi;cursor:pointer}
.comments .comments-content .comment-thread ol{list-style-type:none;padding:0;text-align:none}
.comments .comments-content .inline-thread{padding:0}
.comments .comments-content .comment-thread{margin:8px 0}
.comments .comments-content .comment-thread:empty{display:none}
.comment-replies{margin-top:1em;margin-right:40px;background:#fff}
.comments .comments-content .comment{margin-bottom:0;padding-bottom:0}
.comments .comments-content .comment:first-child{padding-top:16px}
.comments .comments-content .comment:last-child{border-bottom:0;padding-bottom:0}
.comments .comments-content .comment-body{position:relative}
.comments .comments-content .user{font-style:normal;font-weight:normal}
.comments .comments-content .user a{font-weight:normal;text-decoration:none}
.comments .comments-content .icon.blog-author{width:18px;height:18px;display:inline-block;margin:0 0 -4px 6px}
.comments .comments-content .datetime a{font-size:12px;float:left;text-decoration:none}
.comment-content{margin:0 0 8px;padding:0 5px}
.comment-header{font-size:18px;background-color:#f1f1f1;border-bottom:1px solid #e3e3e3;padding:5px}
.comments .comments-content .owner-actions{position:absolute;left:0;top:0}
.comments .comments-replybox{border:none;height:230px;width:100%}
.comments .comment-replybox-thread{margin-top:0}
.comments .comment-replybox-single{margin-top:5px;margin-right:48px}
.comments .comments-content .loadmore a{display:block;padding:10px 16px;text-align:center}
.comments .thread-toggle{cursor:pointer;display:inline-block}
.comments .comments-content .loadmore{cursor:pointer;max-height:3em;margin-top:0}
.comments .comments-content .loadmore.loaded{max-height:0;opacity:0;overflow:hidden}
.comments .thread-chrome.thread-collapsed{display:none}
.comments .thread-toggle{display:inline-block}
.comments .thread-toggle .thread-arrow{display:inline-block;height:6px;width:7px;overflow:visible;margin:0.3em;padding-left:4px}
.comments .thread-expanded .thread-arrow{background:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAc AAAAHCAYAAADEUlfTAAAAG0lEQVR42mNgwAfKy8v/48I4FeA0AacVDFQBAP9wJkE/KhUMAAAAAElFTkSuQmCC") no-repeat scroll 0 0 transparent}
.comments .thread-collapsed .thread-arrow{background:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAA AcAAAAHCAYAAADEUlfTAAAAJUlEQVR42mNgAILy8vL/DLgASBKnApgkVgXIkhgKiNKJ005s4gDLbCZBiSxfygAAAAB JRU5ErkJggg==") no-repeat scroll 0 0 transparent}
.avatar-image-container{background:url(https://lh5.googleusercontent.com/-Wmy6bwNKzbo/T0miLZkuJsI/AAAAAAAAChc/orbwMGHyBxA/s51/arrow.png) top left no-repeat;float:right;vertical-align:middle;overflow:hidden;width:65px !important;height:51px !important;max-width:65px !important;max-height:51px !important}
.comments .avatar-image-container img{padding:2px;border:1px solid #ccc;width:45px !important;height:45px !important;max-width:45px !important;max-height:45px !important}
.comments .comment-block{margin-right:65px;position:relative;border:5px solid #e3e3e3;border-radius:8px;}
.comments .comment .comment-actions a:hover {background:#000;text-decoration: none;}
.comments .comments-content{margin-right:0;}
.post img {
  background: url(&quot;https://lh5.googleusercontent.com/-68yofTgOxn0/U0VELnlNI3I/AAAAAAAADtk/XLOgMaVm-B4/s651/imgbot.png&quot;) no-repeat scroll 0 170px / contain  rgba(0, 0, 0, 0);
  padding-bottom: 6px;
}
.mobile .main {text-align:center;}
.mobile-post-outer {
  background: url(&quot;https://lh5.googleusercontent.com/-MyZgqeTAfEI/U0VKK_e0gRI/AAAAAAAADtw/nYWdojdgu4I/s700/postshadow.png&quot;) repeat-x scroll 0 bottom rgba(0, 0, 0, 0);
padding-bottom: 20px;
}
.mobile-index-thumbnail img {
  background:#ddd;
  border: 1px solid #bbb;
  padding: 3px;
}
.mobile #container,.mobile #main-wrapper {width: 100%;}
.mobile #outer-wrapper {margin:0;}
.post img {max-width: 95%;}
#related-posts {
float : right;
width : 100%;
margin-top:20px;
margin-left : 5px;
margin-bottom:20px;
font-size:13px;
margin-bottom:10px;
font-family:arial;
font-weigh:bold;
}
#related-posts .widget {
list-style-type : none;
margin : 5px 0 5px 0;
padding : 0;
}
#related-posts .widget h2, #related-posts h2 {
color : #940f04;
font-size : 20px;
font-weight : normal;
margin : 5px 7px 0;
padding : 0 0 5px;
}
#related-posts a {
  color: #000;
  display: block;
  font: 14px droid arabic kufi;
  text-decoration: none;
}
#related-posts a:hover {
color : #fff;
text-decoration : none;
}
#related-posts ul {
border : medium none;
margin : 10px;
padding : 0;
}
#related-posts ul li {
display : block;
background:url(&quot;&quot;) no-repeat scroll 0 5px #E7E7E7;
margin-bottom:5px;
padding:2px 10px;
line-height : 2em;
border-radius:8px;
border:1px solid #bbb;
}

#related-posts ul li:hover {
display : block;
background:url(&quot;&quot;) no-repeat scroll 0 5px #D40147;
border-color:#000;
transition:all 0.8s ease 0s;
}
#related-posts h3 {
  background:#D40147;
  border-radius: 8px;
  box-shadow: 0 0 1px #222;
  color: #fff;
  display: inline;
  font: bold 14px droid arabic kufi;
  margin-right: 10px;
  padding: 0 10px;
  text-align: center;
}
.mobile .post-footer-line-1 {margin: 8px 0;}
#colorit9an {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #D40147;
    left: 0;
    overflow: hidden;
    padding: 8px 0 0 4px;
    position: fixed;
    top: 209px;
    width: 35px;
    z-index: 99;
}
ol,#colorit9an ul {
    list-style: none outside none;
	padding:0;
	margin:0;
}
#colorit9an #it9ancolor li {
    float: left;
}
#colorit9an #it9ancolor li a {
    display: block;
    height: 25px;
    margin: 0 8px 8px 0;
    width: 25px;
}
#colorit9an #it9ancolor li a.default {
    background-color: #D40147;
}
#colorit9an #it9ancolor li a.blue {
    background-color: #01ADDB;
}
#colorit9an #it9ancolor li a.red {
    background-color: #ffa800;
}
#colorit9an #it9ancolor li a.green {
    background-color: #11C65A;
}
.post ul {
list-style:inherit
}
ol {
counter-reset:li;
list-style:none;
font-size:14px;
font-family:Electrolize,hacen_saudi_arabiaregular;
padding:0;
margin-bottom:4em
}
ol ol {
margin:0 2em 0 0
}
.post ol li {
position:relative;
display:block;
padding:0;
margin:.5em 2.5em .5em 0;
background:transparent;
color:#b0b1b8;
text-decoration:none;
transition:all .3s ease-out
}
.post ol li:hover {
color:#D40147
}
.post ol li:before {
content:counter(li);
counter-increment:li;
position:absolute;
right:-2.5em;
top:50%;
margin-top:-1em;
background:#F3F3F3;
color:#545457;
height:2em;
width:2em;
line-height:2em;
text-align:center;
font-weight:700;
border:1px solid #DDD;
font-family:Electrolize,hacen_saudi_arabiaregular;
transition:all .3s ease-out
}
.post ol li:hover:before {
background:#F3F3F3;
color:#D40147;
border:1px solid #DDD
}
.post ol li:after {
position:absolute;
content:'';
border:.5em solid transparent;
right:-.4em;
top:52%;
margin-top:-.5em;
transition:all .3s ease-out
}
.post ol li:hover:after {
right:-.4em;
border-right-color:#D40147
}
.post ol li span {
position:relative;
display:block;
padding:4px 8px;
margin-bottom:10px;
background:transparent;
color:#b0b1b8;
text-decoration:none;
transition:all .3s ease-out
}
.post ol li span:hover {
color:#D40147
}
dl {
margin:.5em 3em .5em 0
}
ol {
list-style:decimal outside
}
dt {
font-weight:700
}
dd {
margin:0 2em .5em 0
}
.button{float:right;list-style:none;text-align:center;width:95%;margin:10px;
padding:2px;font-size:14px;clear:both;}
.button ul {margin:0;padding:0}
.button li{display:inline;margin:0;padding:0}
.demo {opacity:1;padding:7px 14px!important;background:#9eb2c0;color:#fff!important;font-weight:400;font-size:14px;font-family:Electrolize,'ge_ss_tvbold';text-align:center;text-transform:uppercase;transition:background-color 1s 0s ease-out}
.download {opacity:1;padding:7px 14px!important;background:#fe4e3f;color:#fff!important;font-weight:400;font-size:14px;font-family:Electrolize,'ge_ss_tvbold';text-align:center;text-transform:uppercase;transition:background-color 1s 0s ease-out}
.demo:before {content:'\f06e';display: inline-block;margin-left: 5px;width: 16px;height: 20px;line-height: 24px;color: #fff;font-family: fontawesome;transition: all 0.5s ease-in-out;padding: 3px;background: rgba(0, 0, 0, 0.2);margin-right: -13px;padding-bottom: 8px;padding-left: 7px;padding-right: 7px;}
.download:before {content:'\f019';display: inline-block;margin-left: 5px;width: 16px;height: 20px;line-height: 24px;color: #fff;font-family: fontawesome;transition: all 0.5s ease-in-out;padding: 3px;background: rgba(0, 0, 0, 0.2);margin-right: -13px;padding-bottom: 8px;padding-left: 7px;padding-right: 7px;}
.download1 {opacity:1;padding:7px 14px!important;background:#3FA2FE;color:#fff!important;font-weight:400;font-size:14px;font-family:Electrolize,'ge_ss_tvbold';text-align:center;text-transform:uppercase;transition:background-color 1s 0s ease-out;}
.download1:before {content:'\f019';display:inline-block;margin-left:5px;width:16px;height:20px;line-height:24px;color:#fff;font-family:fontawesome;transition:all 0.5s ease-in-out;padding:3px;background:rgba(0, 0, 0, 0.2)padding: 3px;background: rgba(0, 0, 0, 0.2);margin-right: -13px;padding-bottom: 8px;padding-left: 7px;padding-right: 7px;}
.flato-dark-button {opacity:1;padding:7px 14px!important;background:#425b71;color:#fff!important;font-weight:400;font-size:14px;font-family:Electrolize,'ge_ss_tvbold';text-align:center;text-transform:uppercase;transition:background-color 1s 0s ease-out}
.flato-dark-button:before {content:'\f135';display: inline-block;margin-left: 5px;width: 16px;height: 20px;line-height: 24px;color: #fff;font-family: fontawesome;transition: all 0.5s ease-in-out;padding: 3px;background: rgba(0, 0, 0, 0.2);margin-right: -13px;padding-bottom: 8px;padding-left: 7px;padding-right: 7px;}
.flato-red-button {opacity:1;padding:7px 14px!important;background:#e4644b;color:#fff!important;font-weight:400;font-size:14px;font-family:Electrolize,'ge_ss_tvbold';text-align:center;text-transform:uppercase;transition:background-color 1s 0s ease-out}
.flato-red-button:before {content:'\f0c3';display: inline-block;margin-left: 5px;width: 16px;height: 20px;line-height: 24px;color: #fff;font-family: fontawesome;transition: all 0.5s ease-in-out;padding: 3px;background: rgba(0, 0, 0, 0.2);margin-right: -13px;padding-bottom: 8px;padding-left: 7px;padding-right: 7px;}
.flato-RedHm-button {opacity:1;padding:7px 14px!important;background:#e74c3c;color:#fff!important;font-weight:400;font-size:14px;font-family:Electrolize,'ge_ss_tvbold';text-align:center;text-transform:uppercase;transition:background-color 1s 0s ease-out}
.flato-RedHm-button:before {content:'\f127';display: inline-block;margin-left: 5px;width: 16px;height: 20px;line-height: 24px;color: #fff;font-family: fontawesome;transition: all 0.5s ease-in-out;padding: 3px;background: rgba(0, 0, 0, 0.2);margin-right: -13px;padding-bottom: 8px;padding-left: 7px;padding-right: 7px;}
.flato-pink-button {opacity:1;padding:7px 14px!important;background:#e75d66;color:#fff!important;font-weight:400;font-size:14px;font-family:Electrolize,'ge_ss_tvbold';text-align:center;text-transform:uppercase;transition:background-color 1s 0s ease-out}
.flato-pink-button:before {content:'\f041';display: inline-block;margin-left: 5px;width: 16px;height: 20px;line-height: 24px;color: #fff;font-family: fontawesome;transition: all 0.5s ease-in-out;padding: 3px;background: rgba(0, 0, 0, 0.2);margin-right: -13px;padding-bottom: 8px;padding-left: 7px;padding-right: 7px;}
.flato-blue-button {opacity:1;padding:7px 14px!important;background:#3bbce0;color:#fff!important;font-weight:400;font-size:14px;font-family:Electrolize,'ge_ss_tvbold';text-align:center;text-transform:uppercase;transition:background-color 1s 0s ease-out}
.flato-blue-button:before {content:'\f058';display: inline-block;margin-left: 5px;width: 16px;height: 20px;line-height: 24px;color: #fff;font-family: fontawesome;transition: all 0.5s ease-in-out;padding: 3px;background: rgba(0, 0, 0, 0.2);margin-right: -13px;padding-bottom: 8px;padding-left: 7px;padding-right: 7px;}
.flato-tirquoise-button {opacity:1;padding:7px 14px!important;background:#00c5ad;color:#fff!important;font-weight:400;font-size:14px;font-family:Electrolize,'ge_ss_tvbold';text-align:center;text-transform:uppercase;transition:background-color 1s 0s ease-out}
.flato-tirquoise-button:before {content:'\f0c2';display: inline-block;margin-left: 5px;width: 16px;height: 20px;line-height: 24px;color: #fff;font-family: fontawesome;transition: all 0.5s ease-in-out;padding: 3px;background: rgba(0, 0, 0, 0.2);margin-right: -13px;padding-bottom: 8px;padding-left: 7px;padding-right: 7px;}
.flato-green-button {opacity:1;padding:7px 14px!important;background:#99ca6a;color:#fff!important;font-weight:400;font-size:14px;font-family:Electrolize,'ge_ss_tvbold';text-align:center;text-transform:uppercase;transition:background-color 1s 0s ease-out}
.flato-green-button:before {content:'\f07b';display: inline-block;margin-left: 5px;width: 16px;height: 20px;line-height: 24px;color: #fff;font-family: fontawesome;transition: all 0.5s ease-in-out;padding: 3px;background: rgba(0, 0, 0, 0.2);margin-right: -13px;padding-bottom: 8px;padding-left: 7px;padding-right: 7px;}
.flato-yellow-button {opacity:1;padding:7px 14px!important;background:#fac75b;color:#fff!important;font-weight:400;font-size:14px;font-family:Electrolize,'ge_ss_tvbold';text-align:center;text-transform:uppercase;transition:background-color 1s 0s ease-out}
.flato-yellow-button:before {content:'\f084';display: inline-block;margin-left: 5px;width: 16px;height: 20px;line-height: 24px;color: #fff;font-family: fontawesome;transition: all 0.5s ease-in-out;padding: 3px;background: rgba(0, 0, 0, 0.2);margin-right: -13px;padding-bottom: 8px;padding-left: 7px;padding-right: 7px;}
.flato-gray-button {opacity:1;padding:7px 14px!important;background:#c9ced1;color:#fff!important;font-weight:400;font-size:14px;font-family:Electrolize,'ge_ss_tvbold';text-align:center;text-transform:uppercase;transition:background-color 1s 0s ease-out}
.flato-gray-button:before {content:'\f0c1';display: inline-block;margin-left: 5px;width: 16px;height: 20px;line-height: 24px;color: #fff;font-family: fontawesome;transition: all 0.5s ease-in-out;padding: 3px;background: rgba(0, 0, 0, 0.2);margin-right: -13px;padding-bottom: 8px;padding-left: 7px;padding-right: 7px;}
.flato-purblehm-button {opacity:1;padding:7px 14px!important;background:#A954E4;color:#fff!important;font-weight:400;font-size:14px;font-family:Electrolize,'ge_ss_tvbold';text-align:center;text-transform:uppercase;transition:background-color 1s 0s ease-out}
.flato-purblehm-button:before {content:'\f0c7';display: inline-block;margin-left: 5px;width: 16px;height: 20px;line-height: 24px;color: #fff;font-family: fontawesome;transition: all 0.5s ease-in-out;padding: 3px;background: rgba(0, 0, 0, 0.2);margin-right: -13px;padding-bottom: 8px;padding-left: 7px;padding-right: 7px;}
.flato-purblehm-button:hover,.flato-red-button:hover,.flato-RedHm-button:hover,.flato-pink-button:hover,.flato-blue-button:hover,.flato-tirquoise-button:hover,.flato-green-button:hover,.flato-yellow-button:hover,.flato-gray-button:hover,.flato-dark-button:hover,.demo:hover,.download1:hover,.download:hover {background:rgba(0, 0, 0, 0.6);text-shadow:0 0 1px #222;color:#fff;;}